label[for="customfield_27600"], label[for="customfield_27600"] {
    display: none !important;
}
div#customfield_27600-helper {
      position: fixed;
    top: 0%;
    color: white;
    align-items: center;
    align-content: space-between;
    flex-direction: row;
    padding: 0 6% 0 6%;
    background: #ec008c;
    font-weight: 700;
    font-size: 12px;
}
legend#customfield_27600-label {
    display: none;
}

fieldset[aria-labelledby="customfield_27600-label customfield_27600-helper"] .error{
 display:none !important;
}
fieldset[aria-labelledby="customfield_27600-label customfield_27600-helper"] .radio {
    display: none !important;
}
